.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -10%;
}
.byC{
  position: fixed;
  top:60%;
  width: 11%;
  height: 5%;
}

.byT{
  position: fixed;
  left: 2%;
  top:25%;
  width: 10%;
  height: 5%; 
}
.byName{
  position: fixed;
  left: -1%;
  top:50%;
  height: 5%;
  transform: scaleX(0.8);
}
.byNamel{
  position: fixed;
  top:45%;
  left: 1%;
}
input{
  border: none;
}